.home-tittle{
    font-size: 3.2rem;
    letter-spacing: 0.8rem;
    margin-top: 2rem;
}
.Login{
    margin-top: 1rem;
}
.container-info{
    height: 25rem;
    width: 24rem;
    margin-left: 27rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* background-color: #c65151; */
    border: 2px solid rgba(0, 0, 0, 0.134);
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.input-group{
    margin-top: 2rem;
}
.login-btn{
    width: 20rem;
    margin-bottom: 1rem;
}
.forgot{
    margin-bottom: 1.5rem;
}
.forgot a{
    text-decoration: none;
}
.signup{
    margin-top: 0.5rem;
}
.signup a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}