.product-list-tittle{
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 500;
}
.product-list-box{
    flex-basis: 100%;
    margin-left: 2%;

}
.product-list-box .product-item{
    width: 20%;
    margin-right: 2%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px #ccc;
    border: 2px solid rgba(30, 30, 3, 0);
    border-radius: 5px;
}

.product-list-box .product-item .product-name{
    font-size: 1.5rem ;
    margin  : 20px 0 20px 0;
    color: black;
}
.product-list-box .product-item .product-price{
    color: rgba(75, 79, 77, 0.936);
    font-size: 20px;
    margin-bottom: 20px;
}
.product-list-box .product-item:hover{
    box-shadow: 0px 4px 10px rgba(104, 102, 102, 0.678);
    transition: box shadow 0.5s linear 1s;
}