.home-tittle{
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 1rem;
}
.category-tittle{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}
.category-list{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#categoryList{
    margin: 4rem 0 4rem 0;
}
.category-item{
    border: 2px solid  var(--blue-dark);
    box-shadow: 4px 4px 4px 4px var(--pale-blue);
    margin-right: 2rem;
    padding: 5px 30px ;
    margin-bottom: 30px;
    background-color: var(--jean-blue);
    border-radius: 10px;
    text-align: center;
}
.category-item a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.category-item:hover{
    box-shadow: 0px 0px 0px 0px;
    transition: box-shadow 0.15s linear 0s;
}
.div-wrapper{
    margin-top: 7rem;
}

@media screen and (max-width: 768px){
    .home-tittle{
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
    
      .category-list{
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .category-item{
        width: 100%;
        margin-right: 0;
      }
    
      .category-item a{
        font-size: 1.1rem;
      }
    
}
@media screen and (max-width: 480px){
    .home-tittle{
        font-size: 1.5rem;
      }
      .category-item{
        padding: 10px;
      }
    }    
}