
.product-detail-wrapper{
    padding-top: 3rem;
}
.product-img{
   flex-basis: 30%;
}
.product-img img{
    width: 100%;
    height: 80%;
}
.product-detail-box{
    flex-basis: 50%;
}
.product-name{
    font-size: 3rem;
}
.product-price{
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 500;
}
.product-description-data{
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: justify;
}
.product-description-title{
    font-size: 2rem;
    margin:  1rem 0;
    font-weight: 400;
}
.product-detail-action{
    margin-top : 1rem  ;
    margin-left : 1rem  ;
    width: 250px;
}